<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>


    <style>
    .form-control
        {
        width:50%;
        border-color:red;
        border-width:2px;
        }
    </style>

</head>
<body>
{% block content %}
<center>
<h2 class="text mt-3"> Register </h2>

<div class="container-fluid" style="width:800px;">

    <form class="form-control form-control-sm mt-3" style="background-color:gray;" method="POST" >
        {% csrf_token %}
            <div class="mb-3">
                <label class="form-label fs-5">Username</label>
                <input type="text" class="form-control" name="u" placeholder="Enter username" style="background-color:yellow;">
            </div>
            <div class="mb-3">
                <label class="form-label fs-5">Password</label>
                <input type="password" class="form-control" name="p" placeholder="Enter password" style="background-color:yellow;">
        </div>
        <div class="mb-3">
            <label class="form-label fs-5">Confirm password</label>
            <input type="password" class="form-control" name="cp" placeholder="Confirm password" style="background-color:yellow;">
        </div>
        <div class="mb-3">
            <label class="form-label fs-5">E-mail</label>
            <input type="text" class="form-control" name="e" placeholder="Enter e-mail" style="background-color:yellow;">
        </div>

        <div class="mb-3">
            <label class="form-label fs-5">First Name</label>
            <input type="text" class="form-control" name="f" placeholder="Enter first name" style="background-color:yellow;">
        </div>
        <div class="mb-3">
            <label class="form-label fs-5">Lastname</label>
            <input type="text" class="form-control" name="l" placeholder="Enter lastname" style="background-color:yellow;">
        </div>
        <div class="mb-3">
            <input type="submit" class="form-control fs-5 bg-primary bg-gradient ">
        </div>
    </form>

</center>
</div>


{% endblock %}

</body>
</html>